[submodule "MiravEngine/extlibs/spdlog"]
	path = MiravEngine/extlibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MiravEngine/extlibs/GLFW"]
	path = MiravEngine/extlibs/GLFW
	url = https://github.com/TheCherno/GLFW
